<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>/space alien</string>
	<string>/nose twirl</string>
	<string>/chipmunk</string>
	<string>/lovestruck</string>
	<string>/dizzy</string>
	<string>/blockhead</string>
	<string>/bug out</string>
	<string>/frog</string>
	<string>/sepia</string>
	<string>/blackandwhite</string>
	<string>/plasticcamera</string>
	<string>/comicbook</string>
	<string>/colorpencil</string>
	<string>/glow</string>
	<string>/thermalcamera</string>
	<string>/xray</string>
	<string>/bulge</string>
	<string>/dent</string>
	<string>/twirl</string>
	<string>/squeeze</string>
	<string>/mirror</string>
	<string>/lighttunnel</string>
	<string>/fisheye</string>
	<string>/stretch</string>
	<string>/cloakingdevice</string>
	<string>/popart</string>
	<string>/hologram</string>
	<string>/eiffel tower</string>
	<string>/fish</string>
	<string>/rollercoaster</string>
	<string>/sunset</string>
	<string>/yosemite</string>
	<string>/user backdrop 1</string>
	<string>/user backdrop 2</string>
	<string>/user backdrop 3</string>
	<string>/user backdrop 4</string>
	<string>/user backdrop 5</string>
	<string>/user backdrop 6</string>
	<string>/user backdrop 7</string>
	<string>/user backdrop 8</string>
</array>
</plist>
